.Titulo{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk;
    text-align: center;
}

.texto{
      font-size: medium;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: cornsilk;
      text-align: center;
}



body {
background-image: linear-gradient(to right bottom, #a82222, #8a1b25, #6b1823, #4c151f, #2e1117, #2a1016, #260f14, #230d12, #371018, #4d121a, #62131a, #761717);
}
/* FOOTER */
footer{
  height: 10vh;
  width: 100%;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.border-thick{
    border-width: 20px !important;
}

.nombre-tienda{
  color: white;      /* Color de la letra */
  font-size: 29px;   /* Tamaño grande */
  text-align: center; /* Opcional: centrar el título */
}

/* NAVEGADOR */
    nav {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
    border-radius: 4px;
}

header{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
}
header a > img{
    height: 40%;
    width: 70%;
}