*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
    border-radius: 4px;
}

header{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header div{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
}

header a > img{
    height: 40%;
    width: 70%;
}

main{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: aqua;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.margen{
    height: 100%;
    width: 15%;
    background-color: coral;
}

.contenido{
    height: 100%;
    width: 70%;
    background-color: darkcyan;
}

.separacion{
    height: 5%;
    width: 100%;
    background-color: darkorchid;
}
.descripcion{
    height: 30%;
    background-color: lightpink;
    width: 100%;
}
.eventos{
    height: 30%;
    background-color: lightpink;
    width: 100%;
}
.ubicacion{
    height: 30%;
    background-color: lightpink;
    width: 100%;
}
footer{
    background-color: crimson;
    height: 10vh;
    width: 100%;
}