nav {
    background-color: #a82222;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color:#a82222;
    border-radius: 4px;
}

header{
    height: 10vh;
    width: 100%;
    background-color: #a82222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header div{
    background-color:#a82222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
}

header a > img{
    height: 40%;
    width: 70%;
}

main {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventos {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.evento1 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.evento1 p {
    width: 50%;

}

.evento1 img {
    height: 100%;
    width: 100%;
}

.evento2 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.evento3 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.principal {
    background-color: rgb(219, 216, 216);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.evento1 {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.parrafo {
    height: 90%;
    width: 65%;
}

.parrafo p {
    text-align: justify;
}

.imagen {
    height: 100%;
    width: 30%;
}

.imagen img {
    height: 100%;
    width: 50%;
    
}

.evento2 {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.evento3 {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: #a82222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer p {
    color: antiquewhite;
    font-size: 25px;
}