        /* * {
    margin: 0;
    padding: 0;
}
     */
body{
    background-image: linear-gradient(to right bottom,
                #a82222, #8a1b25, #6b1823, #4c151f, #2e1117, #2a1016, #260f14, #230d12, #371018, #4d121a, #62131a, #761717);
color: white;
            }


/* NAVEGADOR */
    nav {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
    border-radius: 4px;
}

header{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
}
header a > img{
    height: 40%;
    width: 70%;
}

/* MAIN */

    main{
        height: 80vh;
        width: 100%;
    }

    /* Esto es la base de la pagina  */
    .Caja{
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;


    }

    .Caja1{
        height: 100%;
        width: 30.3%;

        border: solid;
        border-radius: 2px;
        border-color: rgb(255, 255, 255);
        align-items: center;

    
    }

    .Caja2{
        height: 100%;
        width: 30.3%;

      display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }

    .Caja3{
        height: 100%;
        width: 30.3%;
        border: solid;
        border-radius: 2px;
        border-color: rgb(255, 255, 255);
    }


    .Horarios{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

    }

    .Contacto{
        height: 48%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        font-size: small;

        border: solid;
        border-radius: 2px;
        border-color: rgb(255, 255, 255);
    }

    .imagenPequeña{
        height: 8vh;
        width: 8vh;
    }

     .imagenPequeña1{
        height: 5vh;
        width: 5vh;
    }

    .ComoLlegar{
        height: 48%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        border: solid;
        border-radius: 2px;
        border-color: rgb(255, 255, 255);
    }


    .CajaVertical{
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .Vertical{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height:45%;
        width: 100%;
    }
    
    .Medio{
        height: 100%;
        width: 15%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .medio2{
        height: 50%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .medio3{
        height: 50%;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly
    }

    .imagen-container {
    position: relative;
    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center;     /* centra vertical */;
}

.imagen-Hover {
  display: block;
  width: 100px; /* Ajusta según tu necesidad */
  height: 100px;
  transition: transform 0.3s;
}

.imagen-container:hover .imagen-Hover {
  transform: scale(1.1); /* Pequeño efecto de zoom al pasar el mouse */
}

.texto-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;

    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.imagen-container:hover .texto-hover {
  opacity: 1;
}

.medio4{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formulario-contacto {
    width: 90%;
    max-width: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}



.formularioGrupo {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.formularioGrupo label {
    margin-bottom: 5px;
    font-weight: 600;
}

.formularioGrupo textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;

    height: 100px;
    width: 40vh;
}



/* FOOTER */
    footer{
        height: 10vh;
        width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    