*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #55555529;
    border-radius: 4px;
}

header{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header div{
    /* background-color: #333; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
}

header a > img{
    height: 40%;
    width: 70%;
}

body{
    color: #FFFFFF;
    background-image: linear-gradient(to right bottom, #a82222, #8a1b25, #6b1823, #4c151f, #2e1117, #2a1016, #260f14, #230d12, #371018, #4d121a, #62131a, #761717);
}

main{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.margen{
    height: 100%;
    width: 15%;
    background-color: rgba(0, 0, 0, 0);
}

.contenido{
    height: 100%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0);
}

.separacion{
    height: 5%;
    width: 100%;
    background-color: rgba(153, 50, 204, 0);
}
.descripcion,.eventos,.ubicacion{
    display: flex;
    flex-direction: row;
    height: 30%;
    background-color: rgba(41, 39, 39, 0.286);
    width: 100%;
}
.descripcionTexto,.ubicacionConexiones,.descripcionEventos{
    width: 30%;
    height: 100%;
    display: flex;
    border-color: #FFFFFF;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
.descripcionImagen{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #55555539;
    width: 70%;
    height: 100%;
}

.descripcionImagen img{
    width: 70%;
    height: 90%;
}

.botonSaberMasImagen{
    width: 70%;
    height: 100%;
    display: flex;
    background-color: #55555539;
    flex-direction: column;
}

.imagendeEventos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.imagendeEventos img{
    padding-top: 20px;
    width: 60%;
    height: 100%;
}
.botonEvento{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff00;
    align-items: center;
    justify-content: center;
}
.botonEvento button{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border-color: #00000000;
}
.ubicacionIframe{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #55555539;
}

footer{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}